                            <div class="test <?=$status?>"> 
                                <div class="light rounded"></div> 
                                <div class="name"><?=$name?></div> 
                                <div class="stats"><?=$message?></div>
                                <div class="expand button"><?=$expand?></div>
                                <div class="more test <?=$display?>"> 
                                    <div class="variables rounded <?=$variables_display?>"> 
                                        <pre><?=$variables_message?></pre> 
                                    </div> 
                                    <div class="stacktrace rounded <?=$trace_display?>"> 
                                        <pre><?=$trace_message?></pre> 
                                    </div> 
                                </div> 
                            </div> 
                            <? if ( $separator_display ) { ?>
                                <hr class="small" />
                            <? } ?>
